:root{
    --dark--100: rgba(14, 14, 14, 100%);
    --dark--80: rgba(14, 14, 14, 80%);
    --dark--60: rgba(14, 14, 14, 60%);
    --dark--50: rgba(14, 14, 14, 50%);
    --dark--40: rgba(14, 14, 14, 40%);
    --dark--20: rgba(14, 14, 14, 20%);
    --dark--10: rgba(14, 14, 14, 10%);
    --dark--5: rgba(14, 14, 14, 5%);

    --white--100: rgba(241, 241, 241, 100%);
    --white--90: rgba(241, 241, 241, 90%);
    --white--60: rgba(241, 241, 241, 60%);
    --white--20: rgba(241, 241, 241, 20%);
    --white--10: rgba(241, 241, 241, 10%);

    --skyblue--100: rgb(26, 217, 255);

    --orange--100: rgb(255, 199, 94, 100%);

    --lumber--100: rgb(255, 200, 180);
    --lumber--80: rgb(255, 223, 211, 80%);
    --lumber--50: rgb(255, 223, 211, 50%);
    --lumber--30: rgb(255, 223, 211, 30%);
    
}
*{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: var(--dark--100);
    font-family: 'Montserrat';
}
a, h2{
    font-size: 1.3rem;
}
p.small{
    font-size: .7rem;
}
.btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-transform: uppercase;
    padding: 6px 12px;
    border-radius: 12px;
    box-shadow: 0 0 12px var(--dark--40); 
    font-weight: 600;
    cursor: pointer;
    transition: box-shadow .1s ease-out;
}
.btn1:hover{
    box-shadow: 0 0 24px var(--dark--100);
}
.btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;
    border-radius: 24px;
    background-color: var(--white--100);
    box-shadow: 0 ; 
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
    transition: box-shadow .1s ease-out, scale .1s ease-out;
}
.btn2:hover{
    box-shadow: 0 0 24px var(--white--100);
    scale: 1.05;
}
.btn3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 16px;
    background-color: var(--white--100);
    cursor: pointer;
}
.btn3:hover{
    font-weight: 600;
    background-color: var(--skyblue--100);
}
body{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark--10);
}
header{
    background-color: var(--orange--100);
    padding: 0 24px;
}
header>div{
    width: 100%;
    max-width: 1300px;
    padding: 12px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div div.contenedorLogo{
    display: flex;
    align-items: center;
    gap: 12px;
}
header div div.contenedorLogo picture{
    display: block;
    width: 42px;
}
header div div.contenedorLogo picture img{
    width: 100%;
}
header div nav{
    display: flex;
    align-items: center;
    gap: 24px;
}
header div nav a{
    padding: 6px;
    background-color: transparent;
    border-radius: 6px;
    font-weight: 600;   
    transition: background-color .2s ease-out;
}
header div nav a.active,
header div nav a:hover{
    background-color: var(--dark--10);
}
main{
    overflow: hidden;
}
main section.productos{
    padding: 64px 0;
}
main section.productos>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 12px;
}
div.producto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 250px;
    padding: 6px;
    position: relative;
    border-radius: 6px;
    background-color: var(--white--100);
    box-shadow: 0 0 4px var(--dark--40);    
}
div.producto p.rating{
    padding: 3px 6px;
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: var(--white--100);
}
div.producto picture{
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    cursor: pointer;
}
div.producto picture img{
    width: 100%;
    transition: filter .3s ease-out;
}
div.producto picture:hover img{
    filter: drop-shadow(6px 4px 12px var(--dark--100));
}
div.producto div.info{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
}
div.producto div.info h3{
    border-top: 1px solid var(--dark--40);
    font-size: 1.2rem;
}
div.producto div.info p.price{
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
}
div.producto div.info p.text{
    width: 60%;
    text-wrap: pretty;
}
footer{
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
footer a{
    color: blue;
}
footer a:hover{
    border-bottom: 1px solid blue;
}
@media (max-width: 1200px){
    div.producto{
        max-width: 200px;
    }
    div.producto div.info p.text{
        width: 80%;
    }
}
@media (max-width: 700px){
    header>div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
}
@media (max-width: 600px){
    header>div nav{
        width: 90%;
        max-width: 300px;
        margin: 0 auto;
        justify-content: center;
        flex-wrap: wrap;
    }
    footer *{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
}
@media (max-width: 400px){
    div.producto{
        max-width: 170px;
    }
}


@keyframes izqDer_entra{
    0%{
        transform: translateX(-30vw);
    }
    50%{
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes izqDer_entra2{
    0%{
        transform: translateX(-80vw);
    }
    50%{
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes derIzq_entra{
    0%{
        transform: translateX(110vw);
    }
    50%{
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes arrAba{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(24px);
    }
}