section{
    max-width: 1300px;
    margin: 0 auto;
    padding: 24px 0;
}
section>div{
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
section>div div.contenedorProducto{
    width: 100%;
    padding: 12px 24px;
    display: flex;
    flex-direction: row;
    align-items: stretch ;
    background-color: var(--white--100);
    box-shadow: 0 0 4px var(--dark--40);    
    border-radius: 12px;
}
section>div div.contenedorProducto picture{
    position: relative;
    width: 40%;
    min-width: 300px;
    margin-right: 10%;

}
section>div div.contenedorProducto picture span{
    position: absolute;
    padding: 4px 6px;
    top: 12px;
    right: 12px;
    border: 1px solid var(--dark--10);
}
section>div div.contenedorProducto picture img{
    width: 80%;
    margin: 0 auto;
}

section>div div.contenedorProducto div.info{
    padding: 42px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}
section>div div.contenedorProducto div.info h2 strong{
    color: #00a650;
}
section>div div.contenedorProducto div.info h1{
    font-size: 2.5rem;
}
section>div div.contenedorProducto div.info div.cantidad{
    width: 100%;
    padding-top: 24px;
    display: flex;
    align-items: center;
    gap: 42px;
}
section>div div.contenedorProducto div.info div.cantidad div{
    display: flex;
    align-items: center;
    gap: 16px;

}
section>div div.contenedorProducto div.info div.cantidad div *{
    font-weight: bold;
}
section>div div.contenedorProducto div.info div.cantidad div button{
    padding: 0 4px;
    border-radius: 12px;
    font-size: 1.3rem;
    cursor: pointer;
}
section>div div.contenedorComentarios{
    width: 100%;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    background-color: var(--white--100);
    box-shadow: 0 0 4px var(--dark--40);    
    border-radius: 12px;
}
section>div div.contenedorComentarios h2{
    margin-bottom: 12px;
}
section>div div.contenedorComentarios div.comentario{
    width: 100%;
    max-width: 500px;
    padding: 24px 32px;
    margin: 16px ;
    border-radius: 12px;
    background-color: var(--dark--10);
    position: relative;
    left: 32px;
}
section>div div.contenedorComentarios div.comentario h3{
    font-size: 1.5rem;
    border-bottom: 1px solid var(--dark--50);
    margin-bottom: 12px;
}
section>div div.contenedorComentarios div.comentario p.destacado{
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--dark--50);
    margin-left: 12px;
}
section>div div.contenedorComentarios div.comentario h4{
    margin-top: 12px;
}
section>div div.contenedorComentarios div.comentario p.text{
    margin-left: 24px;
    font-size: 0.8rem;
}
section>div div.contenedorComentarios div.comentario span{
    position: absolute;
    bottom: 20px;
    right: 32px;
    line-height: 1.5rem;
}
.error{
    width: 100%;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px 24px;
}
.error h1{
    font-size: 2rem;
}
.error a{
    color: blue;
}
@media (max-width: 1100px){
    section>div div.contenedorProducto div.info h1{
        font-size: 2rem;
    }
}
@media (max-width: 800px){
    section>div div.contenedorProducto div.info{
        padding: 24px 0;
    }
    section>div div.contenedorProducto div.info div.cantidad{
        padding-top: 0px;
        flex-direction: column;
        gap: 12px;
        align-items: start;
    }
}
@media (max-width: 700px){
    section>div div.contenedorProducto{
        flex-direction: column;
    }
    section>div div.contenedorProducto div.info div.cantidad{
        padding-top: 0px;
        flex-direction: row;
        gap: 32px;
        align-items: center;
    }
    section>div div.contenedorProducto picture{
        width: 100%;
        margin: 0 auto;
    }
    section>div div.contenedorComentarios div.comentario{
        left: 0;
        margin: 24px 0;
    }
}
@media (max-width: 500px){
    section>div div.contenedorProducto div.info h1{
        font-size: 1.3rem;
    }
    section>div div.contenedorProducto picture{
        min-width: auto;
    }
    section>div div.contenedorProducto div.info div.cantidad{
        padding-top: 0px;
        flex-direction: column;
        gap: 12px;
        align-items: start;
    }
    section>div div.contenedorComentarios div.comentario{
        padding-bottom: 42px;
    }
    section>div div.contenedorComentarios div.comentario span{
        bottom: 4px;
    }
}