:root{
    --dark--100: rgba(14, 14, 14, 100%);
    --dark--80: rgba(14, 14, 14, 80%);
    --dark--50: rgba(14, 14, 14, 50%);
    --dark--40: rgba(14, 14, 14, 40%);
    --dark--20: rgba(14, 14, 14, 20%);
    --dark--10: rgba(14, 14, 14, 10%);

    --white--100: rgba(241, 241, 241, 100%);
    --white--60: rgba(241, 241, 241, 60%);
    --white--20: rgba(241, 241, 241, 20%);
    --white--10: rgba(241, 241, 241, 10%);

    --skyblue--100: rgb(8, 175, 207, 100%);
    --skyblue--50: rgb(8, 175, 207, 50%);

    --green--100: rgb(164, 202, 58, 100%);
    --green--10: rgb(164, 202, 58, 10%);

    --brown--100: rgb(198, 172, 139, 100%);
}
*{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: var(--dark--100);
}
a{
    font-size: 1.3rem;
    font-family: 'Montserrat';
}
header{
    background-color: var(--dark--10);
}
header>div{
    width: 100%;
    max-width: 1300px;
    padding: 12px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div picture.contenedorLogo{
    display: inline-block;
    width: 42px;
}
header div picture.contenedorLogo img{
    width: 100%;
}
header div nav{
    display: flex;
    align-items: center;
    gap: 24px;
}
header div nav a{
    padding: 6px;
    background-color: transparent;
    border-radius: 6px;
    font-weight: 600;
    transition: background-color .2s ease-out;
}
header div nav a.active,
header div nav a:hover{
    background-color: var(--dark--10);
}