main{
    width: 95%;
    min-height: 80vh;
    margin: 0 auto;
    display: flex;
    gap: 32px;
}
main form{
    width: 100%;
    max-width: 280px;
    height: max-content;
    padding: 24px;
    background-color: var(--lumber--80);
    box-shadow: 0 0 12px var(--dark--100);
    border-bottom-right-radius: 24px;
}
main form h2{
    font-weight: 500;
}
main form div{
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    border-bottom: 0.5px solid var(--dark--50);
}

main form select{
    width: 100%;
    padding: 0 6px;
    background-color: var(--white--90);
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: 300;
    cursor: pointer;
    transition: box-shadow .3s ease-out;
    box-shadow: 0 2px 2px var(--dark--100);
}
main form select:hover,
main form div input[type='submit']:hover{
    box-shadow: 3px 3px 6px var(--dark--100);
}
main form select option{
    font-size: 0.8rem;
    font-weight: 300;
    cursor: pointer;
}
main form select option::first-letter{
    text-transform: uppercase;
}
main form div input[type='submit']{
    width: 100%;
    padding:6px;
    background-color: var(--white--90);
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: box-shadow .3s ease-out;
    box-shadow: 0 2px 2px var(--dark--100);
}
main form div.price{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
main section{
    width: 100%;
}
main section h1{
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid var(--dark--50);
    font-size: 2.5rem;
    font-weight: 600     ;
}
main section>div{
    padding: 16px 0;
}
@media (max-width: 800px){
    main{
        display: flex;
        flex-direction: column;
    }
    main form{
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
        border-radius: 0        ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    main form h2{
        width: 100%;
    }
    main form div{
        flex-direction: column;
        align-items: start;
        justify-content: end;
        gap: 2px;
    }
}
@media (max-width: 600px){
    main form div{
        width: 90%;
        margin: 0 auto;
    }
    main form div.price{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    main form div.price label,
    main form div.price p{
        width: max-content;
        display: inline-block;
        font-size: 1rem;
    }
    main form div input[type='range']{
        width: 100%;
    }
}